IoTHandsOnES104.json
[{"id":"82747929.60dca8","type":"tab","label":"Apolo1_Demo","disabled":false,"info":""},{"id":"5c92af3.6c37c5","type":"modbus-read","z":"82747929.60dca8","name":"Modbus Read Temperature","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"1","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc94f3f8.f1bed","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":140,"wires":[["dd281832.3dcf88","f2e0aab5.88a628"],[]]},{"id":"39689010.3c318","type":"mqtt out","z":"82747929.60dca8","name":"","topic":"mqtt/demo2","qos":"","retain":"","broker":"1759a91f.133b07","x":767,"y":141,"wires":[]},{"id":"dd281832.3dcf88","type":"function","z":"82747929.60dca8","name":"Temperature Info","func":"msg.payload = { Temperature: msg.payload[0],\"IPADD\":\"192.168.10.1\" }\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["39689010.3c318","4717bf32.87947","27ede217.7d94ce"]]},{"id":"4717bf32.87947","type":"debug","z":"82747929.60dca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":769,"y":201,"wires":[]},{"id":"f2e0aab5.88a628","type":"modbus-response","z":"82747929.60dca8","name":"","registerShowMax":20,"x":428,"y":192,"wires":[]},{"id":"a0758cf4.df7e","type":"modbus-read","z":"82747929.60dca8","name":"Modbus Read Humidity","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc94f3f8.f1bed","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":172,"y":282,"wires":[["32bd5f50.2f57d","5349bb05.192ba4"],[]]},{"id":"5349bb05.192ba4","type":"function","z":"82747929.60dca8","name":"Humidity Info","func":"msg.payload = {Humidity: msg.payload[0],\"IPADD\":\"192.168.10.1\"}\nreturn msg;","outputs":1,"noerr":0,"x":409,"y":276,"wires":[["cc59aa09.61c408","55c5659f.ee89cc","7843f860.90f578"]]},{"id":"cc59aa09.61c408","type":"mqtt out","z":"82747929.60dca8","name":"","topic":"mqtt/demo2","qos":"","retain":"","broker":"1759a91f.133b07","x":772,"y":275,"wires":[]},{"id":"32bd5f50.2f57d","type":"modbus-response","z":"82747929.60dca8","name":"Humidity Info","registerShowMax":20,"x":403,"y":325,"wires":[]},{"id":"f5a1d60f.c387c8","type":"modbus-read","z":"82747929.60dca8","name":"Modbus Read_Apolo1_PM2_5","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"4","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc94f3f8.f1bed","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":178,"y":461,"wires":[["d4a8ab54.9ecfd8","e8fa0040.4c474","7b0d7c45.024134"],[]]},{"id":"d4a8ab54.9ecfd8","type":"function","z":"82747929.60dca8","name":"Apolo1_PM2_5","func":"msg.payload = {Apolo1_PM2_5: msg.payload[0]}\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":400,"wires":[["c5904ec.b4aadb","659f8e16.2d201"]]},{"id":"c5904ec.b4aadb","type":"mqtt out","z":"82747929.60dca8","name":"","topic":"mqtt/demo2","qos":"","retain":"","broker":"1759a91f.133b07","x":761,"y":398,"wires":[]},{"id":"e8fa0040.4c474","type":"modbus-response","z":"82747929.60dca8","name":"","registerShowMax":20,"x":435,"y":463,"wires":[]},{"id":"55c5659f.ee89cc","type":"debug","z":"82747929.60dca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":770,"y":345,"wires":[]},{"id":"659f8e16.2d201","type":"debug","z":"82747929.60dca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":763,"y":458,"wires":[]},{"id":"24813d61.5c8932","type":"modbus-read","z":"82747929.60dca8","name":"Apolo1_PM10","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"9","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc94f3f8.f1bed","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":133,"y":606,"wires":[["c07b936b.2a4e","8adcda4d.39ec98","88c9653b.c229f8"],[]]},{"id":"c07b936b.2a4e","type":"function","z":"82747929.60dca8","name":"Apolo1_PM10","func":"msg.payload = {Apolo1_PM10: msg.payload[0]}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":558,"wires":[["ab1eb676.2a1c48","2c8b2ccd.8d6374"]]},{"id":"ab1eb676.2a1c48","type":"mqtt out","z":"82747929.60dca8","name":"","topic":"mqtt/demo2","qos":"","retain":"","broker":"1759a91f.133b07","x":768,"y":564,"wires":[]},{"id":"8adcda4d.39ec98","type":"modbus-response","z":"82747929.60dca8","name":"","registerShowMax":20,"x":429,"y":597,"wires":[]},{"id":"a4b2e465.44a248","type":"function","z":"82747929.60dca8","name":"Humidity2 Info","func":"msg.payload = { Humidity:  msg.payload%1000,\"IPADD\":\"192.168.10.2\" }\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":65,"wires":[[]]},{"id":"92da603e.d07f7","type":"inject","z":"82747929.60dca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":183,"y":71,"wires":[["a4b2e465.44a248"]]},{"id":"98dac216.86134","type":"debug","z":"82747929.60dca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":765,"y":65,"wires":[]},{"id":"b059020c.d4393","type":"e-mail","z":"82747929.60dca8","server":"smtp.gmail.com","port":"465","secure":true,"name":"orwell.h@womtek.com","dname":"Orwell","x":956,"y":141,"wires":[]},{"id":"2c8b2ccd.8d6374","type":"debug","z":"82747929.60dca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":766,"y":616,"wires":[]},{"id":"4ec6263f.379d48","type":"inject","z":"82747929.60dca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0 * * *","once":false,"onceDelay":0.1,"x":388,"y":801,"wires":[["fc7c3a22.e99588"]]},{"id":"fc7c3a22.e99588","type":"debug","z":"82747929.60dca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":758,"y":800,"wires":[]},{"id":"88c9653b.c229f8","type":"function","z":"82747929.60dca8","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":661,"wires":[["48445d69.515944"]]},{"id":"7b0d7c45.024134","type":"function","z":"82747929.60dca8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":516,"wires":[["89a47614.a2b138"]]},{"id":"48445d69.515944","type":"ui_gauge","z":"82747929.60dca8","name":"","group":"70e55320.a0accc","order":1,"width":0,"height":0,"gtype":"gage","title":"PM10","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":746,"y":692,"wires":[]},{"id":"89a47614.a2b138","type":"ui_gauge","z":"82747929.60dca8","name":"","group":"70e55320.a0accc","order":1,"width":0,"height":0,"gtype":"gage","title":"PM2.5","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":744,"y":514,"wires":[]},{"id":"27ede217.7d94ce","type":"ui_gauge","z":"82747929.60dca8","name":"","group":"6228cf8b.883da","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"¢J","format":"{{msg.payload['Temperature']/10}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":986.0000152587891,"y":266.5555419921875,"wires":[]},{"id":"bba9f2e7.27a88","type":"debug","z":"82747929.60dca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":976,"y":403,"wires":[]},{"id":"7843f860.90f578","type":"ui_gauge","z":"82747929.60dca8","name":"","group":"6228cf8b.883da","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload['Humidity']/10}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1004.4443321228027,"y":337.77773666381836,"wires":[]},{"id":"cc94f3f8.f1bed","type":"modbus-client","z":"","name":"port1","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyXRUSB1","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":3,"commandDelay":1,"clientTimeout":3000,"reconnectTimeout":2000},{"id":"1759a91f.133b07","type":"mqtt-broker","z":"","name":"ThingsMaster","broker":"192.168.10.101","port":"8883","tls":"aebd60eb.31f27","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"70e55320.a0accc","type":"ui_group","z":"","name":"Default","tab":"d733429c.ad5c8","disp":true,"width":"6","collapse":false},{"id":"6228cf8b.883da","type":"ui_group","name":"Group 2","tab":"d733429c.ad5c8","order":2,"disp":true,"width":6},{"id":"aebd60eb.31f27","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"ca.crt","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"d733429c.ad5c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]