node-red-link-eth1-link-down-relay.json
[{"id":"50ceeae.c39ce14","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f1be40bb.ac2e9","type":"exec","z":"50ceeae.c39ce14","command":"echo ","addpay":true,"append":"> /sys/class/leds/relay/brightness","useSpawn":"false","timer":"","oldrc":false,"name":"trigger relay","x":490,"y":180,"wires":[[],[],[]]},{"id":"a43169fa.41e578","type":"inject","z":"50ceeae.c39ce14","name":"0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":140,"wires":[["f1be40bb.ac2e9"]]},{"id":"f1eb8b6.1457778","type":"inject","z":"50ceeae.c39ce14","name":"1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":220,"wires":[["f1be40bb.ac2e9"]]},{"id":"f201871d.1dcfb8","type":"exec","z":"50ceeae.c39ce14","command":"mii-tool","addpay":false,"append":"eth1","useSpawn":"false","timer":"3","oldrc":false,"name":"Check ETH1","x":390,"y":400,"wires":[["2974dc01.2a5be4","f1b46256.71e93"],[],[]]},{"id":"500ef9ee.05fc78","type":"inject","z":"50ceeae.c39ce14","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":400,"wires":[["f201871d.1dcfb8"]]},{"id":"2974dc01.2a5be4","type":"function","z":"50ceeae.c39ce14","name":"check link ok ","func":"\nif (msg.payload.indexOf(\"link ok\")>0)\n    msg.payload = \"0\";\nelse \n    msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["a9d29624.7a0ec8","67b5d4dc.e9e14c"]]},{"id":"f1b46256.71e93","type":"debug","z":"50ceeae.c39ce14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":510,"y":500,"wires":[]},{"id":"a9d29624.7a0ec8","type":"debug","z":"50ceeae.c39ce14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":750,"y":500,"wires":[]},{"id":"67b5d4dc.e9e14c","type":"exec","z":"50ceeae.c39ce14","command":"echo ","addpay":true,"append":"> /sys/class/leds/relay/brightness","useSpawn":"false","timer":"","oldrc":false,"name":"trigger relay","x":790,"y":400,"wires":[[],[],[]]},{"id":"da98fe86.0d1e6","type":"comment","z":"50ceeae.c39ce14","name":"Explain","info":"click 0 to turn off relay\n# echo 0 > /sys/class/leds/relay/brightness\nclick 1 to turn on relay\n# echo 1 > /sys/class/leds/relay/brightness","x":490,"y":100,"wires":[]},{"id":"76c60c51.14b224","type":"comment","z":"50ceeae.c39ce14","name":"Explain","info":"Command line example\n\nroot@LEDE:/# mii-tool eth1\neth1: negotiated 1000baseT-FD flow-control, link ok\n","x":390,"y":340,"wires":[]},{"id":"9c9ab345.1ffbc","type":"comment","z":"50ceeae.c39ce14","name":"Explain","info":"This function will check mii-tool return string.\nIf \"link ok\" can be found in the string, return 0 to turn off the relay.","x":590,"y":340,"wires":[]},{"id":"10764fbb.3a9b7","type":"exec","z":"50ceeae.c39ce14","command":"mii-tool","addpay":false,"append":"eth0","useSpawn":"false","timer":"3","oldrc":false,"name":"Check ETH0","x":390,"y":620,"wires":[[],[],[]]}]